@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{

  margin: 0;
  padding: 0;

  font-weight: bold;

}
.banner{
  width 100%;
  height: 100vh;
  background-image: url(images/6.gif);
  background-size: cover;
  background-position: center;

}
.navbar{
  width: 100%;
  height: 25px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 15px 500px rgba(0,0,0);
}
.logo{
  width: 150px;
  cursor: pointer;
}
.navlinks{
  margin-left: 30%;

}
.navbar ul li{
  list-style: none;
  font-size: 15px;
  display: inline-block;
  margin: 0 30px;
  position: relative;


}
.navbar ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  shadow:  rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-weight: normal;
font-family: "Poppins",sans-serif;



}

.navbar ul li::after{
  content: '';
  height: 5px;
  width: 0;
  background: #FFA500;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;

}
.content{
  width: 100%;
  margin-left: 300px;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-family: 'Nova Round', cursive;

}


}
.content h1{
font-size: 80px;
 color: #D9CAB3;
margin-top: 85px;

}
.content p{
  margin: 20px auto;
  font-weight: 20;
  line-height: 25px;


}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
    font-family: sans-serif;
  border: 2px solid #FFA500;
  background: transparent;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: relative;

}
a{
  text-decoration: none;
  color: #fff;
}
span{
  background: #FFA500;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}
.divider{
  width: 100%;
  height: 10px;
  background-color: #FFA500;
}
.divider2{
  width: 100%;
  height: 2px;
  background-color: rgba(255, 165, 0, 0.50);

}
.space{
  width: 100%;
  height: 100vh;
background-image: url(images/7.png);
  background-size: cover;
  background-position: center;



}
/* box1*/
.box1
{  margin: 50px;
  margin-right: 40%;
  font-family: sans-serif;
  color: #000;
  text-align: justify;


}
.box1 h2
{ padding-bottom: 40px;
  font-family: "Poppins",sans-serif;
  font-family: 'Nova Round', cursive;
  font-size: 50px;
  color: #000;
  text-align: justify;

}
.box1 p
{ padding-left: 20px;
font-family: "Poppins",sans-serif;
  font-size: 15px;
  color: #000;
  text-align: justify;
  border: 2px solid #FFA500;
  padding: 5px;



}
.img1{
  margin-top: 10px;
margin-right: 75px;
}
.quotes1{
  width: 500px;
  margin-left: 300px;
  height: 25px;
  padding: 40px;
  padding-bottom: 80px;
  font-family: serif;
  font-size: 20px;



}
.quotes1 p{

    background-color: rgba(255, 165, 0, 0.25);
    padding: 10px;
    border: 2px solid rgba(255, 165, 0, 1);
    padding: 15px;
    text-align: center;

}

/* box 2*/
.box2
{  margin: 50px;
  margin-left: 40%;
  font-family: sans-serif;
  color: #000;
  text-align: justify;



}
.box2 h2
{ padding-bottom: 40px;
  font-family: "Poppins",sans-serif;
  font-family: 'Nova Round', cursive;
  font-size: 38px;
  color: #000;
  text-align: justify;
    text-transform: uppercase;

}
.box2 p
{ padding-left: 20px;
font-family: "Poppins",sans-serif;
  font-size: 15px;
  color: #000;
  text-align: justify;
  border: 2px solid #FFA500;
  padding: 5px;



}
.img2{
  margin-top: 10px;
margin-left: 75px;
}
.quotes2{
  width: 800px;
  margin-left: 30%;
  height: 25px;
  padding: 40px;

  margin-bottom: 80px;
  padding-top: 10px;
  font-family: serif;
  font-size: 18px;



}
.quotes2 p{

    background-color: rgba(255, 165, 0, 0.25);
    padding: 10px;
    border: 2px solid rgba(255, 165, 0, 1);
    padding: 15px;
    text-align: center;

}
/* box 3 */
.space3{
  margin-top: 100px;
  width: 100%;
  height: 100vh;
background-image: url(images/7.png);
  background-size: cover;
  background-position: center;



}
.box3
{  margin: 50px;
  padding-top: 10px;
  margin-right: 40%;
  font-family: sans-serif;
  color: #000;
  text-align: justify;


}
.box3 h2
{ padding-bottom: 40px;
  font-family: "Poppins",sans-serif;
  font-family: 'Nova Round', cursive;
  font-size: 50px;
  color: #000;
  text-align: justify;

}
.box3 p
{ padding-left: 20px;
font-family: "Poppins",sans-serif;
  font-size: 15px;
  color: #000;
  text-align: justify;
  border: 2px solid #FFA500;
  padding: 5px;



}
.img3{
  margin-top: 10px;
margin-right: 75px;
}
.quotes3{
  width: 800px;
  margin-left: 10px;
  margin-bottom: 80px;
  padding-top: 10px;

  height: 25px;
  padding: 40px;
  padding-bottom: 80px;
  font-family: serif;
  font-size: 20px;



}
.quotes3 p{

    background-color: rgba(255, 165, 0, 0.25);
    padding: 10px;
    border: 2px solid rgba(255, 165, 0, 1);
    padding: 15px;
    text-align: center;

}
/* box 4*/
.space4{
  margin-top: 200px;
  width: 100%;
  height: 100vh;
background-image: url(images/7.png);
  background-size: cover;
  background-position: center;



}
.box4
{  margin: 50px;
  margin-left: 40%;
  font-family: sans-serif;
  color: #000;
  text-align: justify;



}
.box4 h2
{ padding-bottom: 40px;
  font-family: "Poppins",sans-serif;
  font-family: 'Nova Round', cursive;
  font-size: 38px;
  color: #000;
  text-align: justify;
    text-transform: uppercase;

}
.box4 p
{ padding-left: 20px;
font-family: "Poppins",sans-serif;
  font-size: 15px;
  color: #000;
  text-align: justify;
  border: 2px solid #FFA500;
  padding: 5px;



}
.img4{
  margin-top: 10px;
margin-left: 75px;
}
.quotes4{
  width: 600px;
  margin-left: 40%;
  height: 25px;
  padding: 40px;

  margin-bottom: 60px;
  padding-top: 10px;
  font-family: serif;
  font-size: 18px;



}
.quotes4 p{

    background-color: rgba(255, 165, 0, 0.25);
    padding: 10px;
    border: 2px solid rgba(255, 165, 0, 1);
    padding: 15px;
    text-align: center;

}
/* box 5 */
.space5{
  margin-top: 300px;
  width: 100%;
  height: 100vh;
background-image: url(images/7.png);
  background-size: cover;
  background-position: center;



}
.box5
{  margin: 50px;
  padding-top: 10px;
  margin-right: 40%;
  font-family: sans-serif;
  color: #000;
  text-align: justify;


}
.box5 h2
{ padding-bottom: 40px;
  font-family: "Poppins",sans-serif;
  font-family: 'Nova Round', cursive;
  font-size: 50px;
  color: #000;
  text-align: justify;

}
.box5 p
{ padding-left: 20px;
font-family: "Poppins",sans-serif;
  font-size: 15px;
  color: #000;
  text-align: justify;
  border: 2px solid #FFA500;
  padding: 5px;



}
.img5{
  margin-top: 10px;
margin-right: 75px;
}
.quotes5{
  width: 700px;
  margin-left: 10px;
  margin-bottom: 80px;
  padding-top: 10px;

  height: 25px;
  padding: 40px;
  padding-bottom: 80px;
  font-family: serif;
  font-size: 20px;



}
.quotes5 p{

    background-color: rgba(255, 165, 0, 0.25);
    padding: 10px;
    border: 2px solid rgba(255, 165, 0, 1);
    padding: 15px;
    text-align: center;

}
/*about us*/
.about_us{
  margin-top: 100px;
  width: 100%;
  height: 50vh;
  background-image: url("images/about.png");
}
.box6
{  margin: 50px;
  padding-top: 60px;
  margin-right: 38%;
  font-family: sans-serif;
  color: #fff;
  text-align: justify;
  margin-left: 250px;
;

}
.box6 h2
{ padding-bottom: 10px;
  font-family: "Poppins",sans-serif;
  font-family: 'Nova Round', cursive;
  font-size: 25px;
  color: #2E8B57;
  text-align: justify;

}
.box6 p
{ padding-left: 30px;
font-family: "Poppins", serif;
  font-size: 15px;
  color: 	#000;
  text-align: justify;

  margin-left: 30px;


}
