@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{

  margin: 0;
  padding: 0;
box-sizing: border-box;
font-family: "Poppins",sans-serif;


}
/*navbar*/
.navbar{
  width: 100%;
  height: 30px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  background-color: #C0C0C0;

}
.logo{
  width: 150px;
  cursor: pointer;
}
.navlinks{
  margin-left: 30%;

}
.navbar ul li{
  list-style: none;
  font-size: 15px;
  display: inline-block;
  margin: 0 30px;
  position: relative;


}
.navbar ul li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  shadow:  rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-weight: normal;
font-family: "Poppins",sans-serif;



}

.navbar ul li::after{
  content: '';
  height: 5px;
  width: 0;
  background: #FFA500;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;

}
/*page*/

.section{
  width: 100%;
  min-height: 100vh;
  background-color: #C0C0C0;

}
.container{
  width: 80%
display:block;
  margin: auto;
  padding-top: 100px;
  align-items: center;


}
.content-section{
  float: left;
  width: 75%;
  margin-left: 100px;

}
.image-section{
  float: right;
  width: 38%;
}
.image-section img{
  width: 100%;
  height: auto;
}
.content-section .title{
  text-transform: uppercase;
  font-size: 28px;
font-family: "Poppins",sans-serif;
font-weight: 400;
color: #202020;
}
.content-section .content h3{
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
}
.content-section .content p{
margin-top: 10px;
font-family: sans-serif;
font-size: 18px;
line-height:1.5;
}
.content-section .content .button{
  margin-top: 30px;

}
.content-section .content .button a{
  background-color: #202020;
  padding: 12px 40px;
  text-decoration: none;
  color: #FFA500;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
  color: #fff;
    transition: all ease 0.3s;
}
.content-section .social{
  margin: 40px 40px;
}
.content-section .social i{
  color: #202020;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social i:hover{
  color: #fff;
    transition: all ease 0.3s;
}
